body {
	padding: 15px;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
}
.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px; 
	background-color: white;
	display: inline-block;
	margin: 4px;
	text-align: center;
}
.box {
    width: 68px;
	height: 70px;
	background-color: #1E90FF;
	display: inline-block;
}
.circle.red {
	background: #D12B51; 
	background: -moz-radial-gradient(center, ellipse cover, #D12B51 0%, #BD173D 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, #D12B51 0%, #BD173D 100%); 
	background: radial-gradient(ellipse at center, #D12B51 0%, #BD173D 100%);
}
.circle.yellow {
	background: #f1e767; 
	background: -moz-radial-gradient(center, ellipse cover, #f1e767 0%, #feb645 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, #f1e767 0%, #feb645 100%);
	background: radial-gradient(ellipse at center, #f1e767 0%, #feb645 100%); 
}
.red span {
	color: #D12B51;
}
.yellow span {
	color: #D3C949;
}
.place {
	height: 20px;
	width: 60px !important;
	margin: 5px 4px;
}
.last {
	font-weight: bold;
}
.next span {
	font-weight: bold;
	text-decoration: underline;
}
.hover {
	cursor: pointer;
}