body {
	padding: 15px;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
}
.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px; 
	background-color: white;
	display: inline-block;
	margin: 4px;
	text-align: center;
}
.box {
    width: 68px;
	height: 70px;
	background-color: #1E90FF;
	display: inline-block;
}
.circle.red {
	background: #EF496F; 
	background: -moz-radial-gradient(center, ellipse cover, #EF496F 0%, #BD173D 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, #EF496F 0%, #BD173D 100%); 
	background: radial-gradient(ellipse at center, #EF496F 0%, #BD173D 100%);
}
.circle.yellow {
	background: #FFE877; 
	background: -moz-radial-gradient(center, ellipse cover, #FFE877 0%, #feb645 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, #FFE877 0%, #feb645 100%);
	background: radial-gradient(ellipse at center, #FFE877 0%, #feb645 100%); 
}
.h-red {
	background: #EF496F; 
}
.h-yellow {
	background: #FFE877;
}
.red span, span.red {
	color: #D12B51;
}
.yellow span, span.yellow {
	color: #D3C949;
}
.disabled {
	color: #808080;
	background-color: #EEEEEE;
}
.place {
	height: 20px;
	width: 60px !important;
	margin: 5px 4px;
}
.last {
	font-weight: bold;
}
.next span {
	font-weight: bold;
	text-decoration: underline;
}
.hover {
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	.place {
		height: 20px;
		width: 11vw !important;
		margin: 1vw;
	}
	.circle {
		border-radius: 50%;
		background-color: white;
		display: inline-block;
		height: 11vw;
		width: 11vw;
		text-align: center;
	}
	.box {
		width: 13vw;
		height: 13vw;
		background-color: #1E90FF;
		display: inline-block;
	}
	body {
		padding: 1vw;
	}
	button span {
		font-size: 13px;
	}
}
@media screen and (max-width: 400px) {
	#versus {
		display: none;
	}
	.circle {
		color: transparent;
	}
}